<section class="section analyst-recognition py-32 lg:py-48 " id="abc " data-component="M1 Bento Grid 3 Cards">
  <div class="container-extended">
    <div class="analyst-recognition__wrap bg-transparent text-body">
      <div class="section-header">
        <div class="section-header__wrap">
          <div class="section-header__heading">
            <div>
              <h2 slot="title" class="heading ">Recognized by the industry  </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="analyst-recognition__grid">
        <a tracker-event data-tracker-identifier="grid_card" href='/press-release/2026/broadridge-recognized-as-worlds-most-admired-companies' class="card text-white card__media-cover light" aria-label="AWARD 2026">
          <div class="card__image">
            <picture>
              <source media="(min-width:1140px)" srcset="/us-en/assets/images/m2-accordion-feature/IMG-ABS-018.jpg">
              <source media="(min-width:834px)" srcset="/us-en/assets/images/m2-accordion-feature/IMG-ABS-018.jpg">
              <img src="/us-en/assets/images/m2-accordion-feature/IMG-ABS-018.jpg" alt="Alt" width="100%" height="100%" slot="image" class="w-full h-full object-cover aspect-undefined"/>
            </picture>
          </div>
          <div class="card__content p-24 justify-end bg-blue-750 z-[1] mt-auto h-[unset] m-24">
            <div class="grid-cover flex flex-col gap-8 ">
              <span slot="title" class="badge badge-dark self-baseline mt-auto">AWARD 2026</span>
              <h2 slot="title" class="heading  title-1">Recognized as one of Fortune Magazine’s ‘World’s Most Admired Companies’ in the financial services category for the twelfth time</h2>
            </div>
            <div class="card__cta ">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
              </svg>
            </div>
          </div>
        </a>
        <div class="analyst-recognition__grid-sub">
          <a tracker-event data-tracker-identifier="grid_card" href='/press-release/2025/broadridge-ranked-3-in-2025-idc-fintech-100' class="card bg-blue-150 text-body card__media-top light " aria-label="AWARD 2025">
            <div class="card__content p-24 z-[1]">
              <div class="grid-cover flex flex-col gap-8 ">
                <span slot="title" class="badge badge-dark self-baseline">AWARD 2025</span>
                <h2 slot="title" class="heading h3 title-2">Ranked #3 on the 2025 IDC FinTech Rankings Top 100, Wins Capital Markets Transformation Award</h2>
              </div>
              <div class="card__cta mt-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
          </a>
          <a tracker-event data-tracker-identifier="grid_card" href='/press-release/2025/broadridge-named-a-leader-in-wealth-management-technology-in-idc-marketscape-2025-assessment' class="card bg-blue-150 text-body card__media-top light " aria-label="LEADER">
            <div class="card__content p-24 z-[1]">
              <div class="grid-cover flex flex-col gap-8 ">
                <span slot="title" class="badge badge-dark self-baseline">LEADER</span>
                <h2 slot="title" class="heading h3 title-2">Broadridge Named a Leader in Wealth Management Technology in IDC MarketScape 2025 Assessment</h2>
              </div>
              <div class="card__cta mt-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
          </a>
          <a tracker-event data-tracker-identifier="grid_card" href='/campaign/advisor-onboarding-solution' class="card bg-blue-150 text-body card__media-top light " aria-label="ANALYST REPORT">
            <div class="card__content p-24 z-[1]">
              <div class="grid-cover flex flex-col gap-8 ">
                <span slot="title" class="badge badge-dark self-baseline">ANALYST REPORT</span>
                <h2 slot="title" class="heading h3 title-2">Celent: Broadridge is Streamlining the Advisor Onboarding Process</h2>
              </div>
              <div class="card__cta mt-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="analyst-recognition__cta">
        <a class="cta group cta-primary cta-medium cta-light w-full md:w-[unset]" tracker-event data-tracker-identifier="CTA" data-tracker-variable="rectangle" href='/about/analyst-coverage' aria-label="Explore all analyst coverage">
          <span>Explore all analyst coverage</span>
        </a>
      </div>
    </div>
  </div>
</section>