<section class="section featured-solutions" id="" data-component="M4 Featured Cards">
   <div class="container-fluid">
      <div class="featured-solutions__wrap">
         <div class="section-header ">
            <div class="section-header__wrap ">
               <div class="section-header__heading">
                  <div>
                     <h2 slot="title" class="heading h2">Featured solutions </h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="featured-solutions__card-grid">
            <a tracker-event data-tracker-identifier="featured_grid_card" href='/capability/governance-and-regulatory-compliance/proxy-services/' class="card text-body bg-blue-150 flex-col sm:max-lg:flex-row sm:max-lg:justify-between card__media-top light" aria-label="Proxy Services">
               <div class="card__image order-1 sm:max-lg:order-2 md:max-lg:basis-[150px]"> 
                  <img src="/us-en/assets/images/icons/Proxy-Services@2x.svg" alt="Laptop" class="card__animated-image"/>
               </div>
               <div class="card__content p-24 order-2 sm:max-lg:order-1 md:max-lg:basis-3/4 lg:min-h-[250px] z-[1]">
                  <div class="grid-cover flex flex-col gap-8">
                     <div slot="title" class="heading title-1">
Proxy Services
                     </div>
                     <span class="text-atom body-3 lg:text-base mt-0 lg:mt-8">
<p>Secure, accurate, turnkey proxy solutions</p>
                     </span>
                  </div>
                  <div class="card__cta mt-auto">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                     </svg>
                  </div>
               </div>
                  </a>
            <a tracker-event data-tracker-identifier="featured_grid_card" href='/hub/tokenization' class="card text-body bg-blue-150 flex-col sm:max-lg:flex-row sm:max-lg:justify-between card__media-top light" aria-label="Tokenization">
               <div class="card__image order-1 sm:max-lg:order-2 md:max-lg:basis-[150px]"> 
                  <img src="/us-en/assets/images/icons/IMG-M4_Tokenization.svg" alt="Chart" class="card__animated-image"/>
               </div>
               <div class="card__content p-24 order-2 sm:max-lg:order-1 md:max-lg:basis-3/4 lg:min-h-[250px] z-[1]">
                  <div class="grid-cover flex flex-col gap-8">
                     <div slot="title" class="heading title-1">
Tokenization
                     </div>
                     <span class="text-atom body-3 lg:text-base mt-0 lg:mt-8">
<p>End-to-end capabilities for evolving financial markets</p>
                     </span>
                  </div>
                  <div class="card__cta mt-auto">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                     </svg>
                  </div>
               </div>
                  </a>
            <a tracker-event data-tracker-identifier="featured_grid_card" href='/capability/middle-and-back-office-solutions/asset-servicing/' class="card text-body bg-blue-150 flex-col sm:max-lg:flex-row sm:max-lg:justify-between card__media-top light" aria-label="Asset Servicing">
               <div class="card__image order-1 sm:max-lg:order-2 md:max-lg:basis-[150px]"> 
                  <img src="/us-en/assets/images/icons/Asset-Servicing@2x.svg" alt="Building" class="card__animated-image"/>
               </div>
               <div class="card__content p-24 order-2 sm:max-lg:order-1 md:max-lg:basis-3/4 lg:min-h-[250px] z-[1]">
                  <div class="grid-cover flex flex-col gap-8">
                     <div slot="title" class="heading title-1">
Asset Servicing
                     </div>
                     <span class="text-atom body-3 lg:text-base mt-0 lg:mt-8">
<p>Harmonize operations across the asset lifecycle</p>
<style nonce="03blJaBrgQOcFmbWxMOqVA==" nonce1=""><!--

--></style>
                     </span>
                  </div>
                  <div class="card__cta mt-auto">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                     </svg>
                  </div>
               </div>
                  </a>
            <a tracker-event data-tracker-identifier="featured_grid_card" href='/capability/front-office-solutions/connectivity/' class="card text-body bg-blue-150 flex-col sm:max-lg:flex-row sm:max-lg:justify-between card__media-top light" aria-label="Global Trading">
               <div class="card__image order-1 sm:max-lg:order-2 md:max-lg:basis-[150px]"> 
                  <img src="/us-en/assets/images/icons/Connectivity@2x.svg" alt="Globe" class="card__animated-image"/>
               </div>
               <div class="card__content p-24 order-2 sm:max-lg:order-1 md:max-lg:basis-3/4 lg:min-h-[250px] z-[1]">
                  <div class="grid-cover flex flex-col gap-8">
                     <div slot="title" class="heading title-1">
Global Trading
                     </div>
                     <span class="text-atom body-3 lg:text-base mt-0 lg:mt-8">
<p>Multi asset class trading solutions</p>
                     </span>
                  </div>
                  <div class="card__cta mt-auto">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                     </svg>
                  </div>
               </div>
                  </a>
         </div>
      </div>
   </div>
</section>