<section class="section hero-deconstructed container-extended less" id="" data-component="H1 Deconstructed Hero">
                <article class="card bg-blue-750 text-white card__media-cover" data-tracker-identifier="card" tracker-event>
                    <div class="card__image ">
                        <picture>
                            <source media="(min-width:1140px)" srcset="/us-en/assets/images/corporate/BG-HP-IMG-H1-Deconstructed-Hero-Tokenization-260701-Dark.svg">
                            <source media="(min-width:834px)" srcset="/us-en/assets/images/corporate/BG-HP-IMG-H1-Deconstructed-Hero-Tokenization-260701-tab-Dark.png">
                            <img src="/us-en/assets/images/corporate/BG-HP-IMG-H1-Deconstructed-Hero-Tokenization-260701-Mobile-Dark.svg" alt="Broadridge Image" width="100%" height="100%" slot="image" class="w-full h-full object-cover"/>
                        </picture>
                    </div>
                    <div class="card__content hero-deconstructed__main-card z-[1] spaced">
                        <div class="grid-cover flex flex-col gap-8">
                            <h1 class="heading display-1 display-1 color-light hero-deconstructed__main-card-title">
                                NAVIGATE
                            </h1>
                            <div class="text-atom hero-deconstructed__card-description body-1 ">
                               <p>tokenized markets with confidence.</p>
                            </div>
                        </div>
                        <div class="card__cta mt-auto ">
                            <a class="cta group cta-primary cta-medium md:self-baseline  cta-dark" tracker-event data-tracker-identifier="CTA" slot="links" data-tracker-variable="rectangle" aria-label="Let's go" href='/hub/tokenization'>
                                <span>Let's go</span>
                            </a>
                        </div>

                    </div>
   </article>
					<a tracker-event data-tracker-identifier="grid_card" aria-label="Payward Services and Broadridge collaborate to give xStocks holders a voice in corporate governance" href='/press-release/2026/broadridge-and-payward-empower-xstocks-holders' class="card bg-blue-750 text-white">
                    <div class="card__image ">
                    </div>
					    <div class="card__content p-24 z-[1]">
					        <div class="grid-cover flex flex-col gap-8">
					            <div class="flex">
					                <span class="badge badge-light">
					                    PRESS RELEASE
					                </span>
					            </div>
					            <h3 class="heading h3 title-2">
					               Payward Services and Broadridge collaborate to give xStocks holders a voice in corporate governance
					            </h3>
					        </div>
							                        <div class="card__cta   ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                                </svg>
                        </div>

					    </div>
					</a>
					<a tracker-event data-tracker-identifier="grid_card" aria-label="Tokenization Pulse Study: Key insights shaping what’s next" href='/insights/tokenization-pulse-study' class="card bg-blue-750 text-white card__media-cover">
                    <div class="card__image ">
                        <picture>
                            <source media="(min-width:1140px)" srcset="/us-en/assets/images/corporate/BG-IMG-H1-Deconstructed-Hero-Btn-Right.svg">
                            <source media="(min-width:834px)" srcset="/us-en/assets/images/corporate/BG-IMG-H1-Deconstructed-Hero-Btn-Right.svg">
                            <img src="/us-en/assets/images/corporate/BG-IMG-H1-Deconstructed-Hero-Btn-Right.svg" alt="Broadridge Image" width="100%" height="100%" slot="image" class="w-full h-full object-cover "/>
                        </picture>
                    </div>
					    <div class="card__content p-24 z-[1]">
					        <div class="grid-cover flex flex-col gap-8">
					            <div class="flex">
					                <span class="badge badge-light">
					                    REPORT
					                </span>
					            </div>
					            <h3 class="heading h3 title-2">
					               Tokenization Pulse Study: Key insights shaping what’s next
					            </h3>
					        </div>
							                        <div class="card__cta   ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                                </svg>
                        </div>

					    </div>
					</a>
</section>