<section class="section insights theme-light" id="" data-component="M5 Insights(Grid Variation)">
   <div class="container-extended">
      <div class="insights__wrap light">
         <div class="section-header " slot="header">
            <div class="section-header__wrap ">
               <div class="section-header__heading">
                  <div>
                     <h2 slot="title" class="heading ">Insights & perspectives</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="insights__slider swiper-initialized swiper-horizontal swiper-backface-hidden">
            <div class="swiper-wrapper">
               <a tracker-event data-tracker-identifier="insights" href='/insights/real-transformation-real-results' class="card insights__slider-slide swiper-slide card__media-top dark " aria-label="Card 1: Visit the  CASE STUDIES page titled See how firms are modernizing platforms to unlock scale, efficiency, and growth">
                  <div class="card__image ">
                     <picture>
                        <source media="(min-width:1140px)" srcset="/us-en/assets/images/corporate/Wealth-DT-Case-Studies-Card.svg">
                        <source media="(min-width:834px)" srcset="/us-en/assets/images/corporate/Wealth-DT-Case-Studies-Card.svg">
                        <img src="/us-en/assets/images/corporate/Wealth-DT-Case-Studies-Card.svg" alt="" role="presentation" width="" height="" slot="image" class="w-full object-cover aspect-[3/2] "/>
                     </picture>
                  </div>
 <div class="card__content p-24 z-[1]" aria-hidden="true">
                     <div class="grid-cover flex flex-col gap-8">
                        <span slot="title" class="badge badge-light w-fit">CASE STUDIES</span>
                        <h2 slot="title" class="heading h1 title-2">See how firms are modernizing platforms to unlock scale, efficiency, and growth</h1>
                     </div>
                     <div class="card__cta mt-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                        </svg>
                     </div>
                  </div>
                  </a>
               <a tracker-event data-tracker-identifier="insights" href='/insights/dlt-in-the-real-world-2026' class="card insights__slider-slide swiper-slide card__media-top dark " aria-label="Card 2: Visit the  REPORT page titled Distributed ledger technology is delivering real-world results">
                  <div class="card__image ">
                     <picture>
                        <source media="(min-width:1140px)" srcset="/us-en/assets/images/corporate/Finadium-Intraday-Report.png">
                        <source media="(min-width:834px)" srcset="/us-en/assets/images/corporate/Finadium-Intraday-Report.png">
                        <img src="/us-en/assets/images/corporate/Finadium-Intraday-Report.png" alt="" role="presentation" width="" height="" slot="image" class="w-full object-cover aspect-[3/2] "/>
                     </picture>
                  </div>
 <div class="card__content p-24 z-[1]" aria-hidden="true">
                     <div class="grid-cover flex flex-col gap-8">
                        <span slot="title" class="badge badge-light w-fit">REPORT</span>
                        <h2 slot="title" class="heading h1 title-2">Distributed ledger technology is delivering real-world results</h1>
                     </div>
                     <div class="card__cta mt-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                        </svg>
                     </div>
                  </div>
                  </a>
               <a tracker-event data-tracker-identifier="insights" href='/next/articles/from-pilot-to-production-5-keys-to-scaling-agentic-ai-in-financial-services?utm_medium=DigitalAsset&utm_source=LandingPage&utm_campaign=NEXT_Q4FY26__ENT_Roger-Ai-Track-Link&content_id=07554&campaign_id=701RN00000kGx1kYAC' target='_blank' rel="noreferrer" class="card insights__slider-slide swiper-slide card__media-top dark " aria-label="Card 3: Visit the  ARTICLE page titled From pilot to production: 5 keys to scaling agentic AI in financial services">
                  <div class="card__image ">
                     <picture>
                        <source media="(min-width:1140px)" srcset="/us-en/assets/images/corporate/From-pilot-to-production.png">
                        <source media="(min-width:834px)" srcset="/us-en/assets/images/corporate/From-pilot-to-production.png">
                        <img src="/us-en/assets/images/corporate/From-pilot-to-production.png" alt="" role="presentation" width="" height="" slot="image" class="w-full object-cover aspect-[3/2] "/>
                     </picture>
                  </div>
 <div class="card__content p-24 z-[1]" aria-hidden="true">
                     <div class="grid-cover flex flex-col gap-8">
                        <span slot="title" class="badge badge-light w-fit">ARTICLE</span>
                        <h2 slot="title" class="heading h1 title-2">From pilot to production: 5 keys to scaling agentic AI in financial services</h1>
                     </div>
                     <div class="card__cta mt-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                        </svg>
                     </div>
                  </div>
                  </a>
               <a tracker-event data-tracker-identifier="insights" href='/insights/2026-digital-transformation-study?utm_medium=DigitalAsset&utm_source=LandingPage&utm_campaign=2026-Dig-Trans_Q3FY26_WB_ENT_Homepage-hero-anim&utm_content=v1&content_id=04993&campaign_id=701RN00000dfLjdYAE' class="card insights__slider-slide swiper-slide card__media-top dark " aria-label="Card 4: Visit the  REPORT page titled Insights from 900+ financial services leaders on AI, tokenization, and more">
                  <div class="card__image ">
                     <picture>
                        <source media="(min-width:1140px)" srcset="/us-en/assets/images/corporate/DT26-cc-image.png">
                        <source media="(min-width:834px)" srcset="/us-en/assets/images/corporate/DT26-cc-image.png">
                        <img src="/us-en/assets/images/corporate/DT26-cc-image.png" alt="" role="presentation" width="" height="" slot="image" class="w-full object-cover aspect-[3/2] "/>
                     </picture>
                  </div>
 <div class="card__content p-24 z-[1]" aria-hidden="true">
                     <div class="grid-cover flex flex-col gap-8">
                        <span slot="title" class="badge badge-light w-fit">REPORT</span>
                        <h2 slot="title" class="heading h1 title-2">Insights from 900+ financial services leaders on AI, tokenization, and more</h1>
                     </div>
                     <div class="card__cta mt-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                        </svg>
                     </div>
                  </div>
                  </a>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
         </div>
         <div class="slider-controls">
            <div class="slider-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span></div>
            <div class="flex gap-16">
               <button type="button" role="button" aria-label="Previous slide" class="slider-button-prev btn-blue swiper-button-disabled" disabled="" tabindex="-1" aria-controls="swiper-wrapper-b4810441c91fef491" aria-disabled="true" tracker-event data-tracker-identifier="accessibility">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                     <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                  </svg>
               </button>
               <button type="button" role="button" aria-label="Next slide" class="slider-button-next btn-blue" tabindex="0" aria-controls="swiper-wrapper-b4810441c91fef491" aria-disabled="false" tracker-event data-tracker-identifier="accessibility">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                     <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                  </svg>
               </button>
            </div>
         </div>
         <div class="insights__cta">
            <a class="cta group cta-primary cta-medium cta-light w-full md:w-[unset]" tracker-event data-tracker-identifier="CTA" data-tracker-variable="rectangle" aria-label="  Explore all insights  " href='/insight-pages/broadridge-insights'>
               <span>  Explore all insights  </span>
            </a>
         </div>
      </div>
   </div>
</section>