<section class="section top-tabber " data-component="M9 Top Tabber">
    <div class="container-fluid">
        <div class="top-tabber__wrap">
            <div class="grid gap-32 lg:gap-48">
                <div class="top-tabber__heading">
                                <h2 slot="title" class="heading h2 w-full">
                                    Powering the pulse of the financial industry  
                                </h2>
                                <span class="text-atom body-1 w-full">
                                    Our technology and expertise stand as the heartbeat of investing, corporate governance, and communications to improve performance and transform investor experience.  
                                </span>
                </div>
                <div class="tabs  horizontal">
                    <div class="tabs__wrapper relative">
                        <div class="tabs__trigger-list">
                            <button role="button" type="button" aria-label="Asset Management" class="tabs__trigger-item " data-target="tab-1" data-tracker-identifier="top_tabber" tracker-event>
                                <span>Asset Management</span>
                                <span class="tabs__icon-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                                <span class="tabs__icon-accordion">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="open">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9933 4.88338C12.9355 4.38604 12.5128 4 12 4C11.4477 4 11 4.44772 11 5V11H5L4.88338 11.0067C4.38604 11.0645 4 11.4872 4 12C4 12.5523 4.44772 13 5 13H11V19L11.0067 19.1166C11.0645 19.614 11.4872 20 12 20C12.5523 20 13 19.5523 13 19V13H19L19.1166 12.9933C19.614 12.9355 20 12.5128 20 12C20 11.4477 19.5523 11 19 11H13V5L12.9933 4.88338Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                            </button>
                            <button role="button" type="button" aria-label="Capital Markets" class="tabs__trigger-item " data-target="tab-2" data-tracker-identifier="top_tabber" tracker-event>
                                <span>Capital Markets</span>
                                <span class="tabs__icon-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                                <span class="tabs__icon-accordion">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="open">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9933 4.88338C12.9355 4.38604 12.5128 4 12 4C11.4477 4 11 4.44772 11 5V11H5L4.88338 11.0067C4.38604 11.0645 4 11.4872 4 12C4 12.5523 4.44772 13 5 13H11V19L11.0067 19.1166C11.0645 19.614 11.4872 20 12 20C12.5523 20 13 19.5523 13 19V13H19L19.1166 12.9933C19.614 12.9355 20 12.5128 20 12C20 11.4477 19.5523 11 19 11H13V5L12.9933 4.88338Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                            </button>
                            <button role="button" type="button" aria-label="Issuers" class="tabs__trigger-item " data-target="tab-3" data-tracker-identifier="top_tabber" tracker-event>
                                <span>Issuers</span>
                                <span class="tabs__icon-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                                <span class="tabs__icon-accordion">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="open">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9933 4.88338C12.9355 4.38604 12.5128 4 12 4C11.4477 4 11 4.44772 11 5V11H5L4.88338 11.0067C4.38604 11.0645 4 11.4872 4 12C4 12.5523 4.44772 13 5 13H11V19L11.0067 19.1166C11.0645 19.614 11.4872 20 12 20C12.5523 20 13 19.5523 13 19V13H19L19.1166 12.9933C19.614 12.9355 20 12.5128 20 12C20 11.4477 19.5523 11 19 11H13V5L12.9933 4.88338Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                            </button>
                            <button role="button" type="button" aria-label="Wealth Management" class="tabs__trigger-item " data-target="tab-4" data-tracker-identifier="top_tabber" tracker-event>
                                <span>Wealth Management</span>
                                <span class="tabs__icon-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                                <span class="tabs__icon-accordion">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="open">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9933 4.88338C12.9355 4.38604 12.5128 4 12 4C11.4477 4 11 4.44772 11 5V11H5L4.88338 11.0067C4.38604 11.0645 4 11.4872 4 12C4 12.5523 4.44772 13 5 13H11V19L11.0067 19.1166C11.0645 19.614 11.4872 20 12 20C12.5523 20 13 19.5523 13 19V13H19L19.1166 12.9933C19.614 12.9355 20 12.5128 20 12C20 11.4477 19.5523 11 19 11H13V5L12.9933 4.88338Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                            </button>
                            <button role="button" type="button" aria-label="Consumer Industries" class="tabs__trigger-item " data-target="tab-5" data-tracker-identifier="top_tabber" tracker-event>
                                <span>Consumer Industries</span>
                                <span class="tabs__icon-arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                                <span class="tabs__icon-accordion">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="open">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9933 4.88338C12.9355 4.38604 12.5128 4 12 4C11.4477 4 11 4.44772 11 5V11H5L4.88338 11.0067C4.38604 11.0645 4 11.4872 4 12C4 12.5523 4.44772 13 5 13H11V19L11.0067 19.1166C11.0645 19.614 11.4872 20 12 20C12.5523 20 13 19.5523 13 19V13H19L19.1166 12.9933C19.614 12.9355 20 12.5128 20 12C20 11.4477 19.5523 11 19 11H13V5L12.9933 4.88338Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                            </button>

<span class="tabs__activator"></span>
                        </div>
                       <div class="tabs__content-list">
                           <div class="tabs__content-item active" data-tab="tab-1">
                               <div class="top-tabber__content-item">
                                   <picture>
                                                   <source media="(min-width:1140px)" srcset="/us-en/assets/images/Card-Images/M9-Top-Tabber-Asset-Management.png">
                                                   <source media="(min-width:834px)" srcset="/us-en/assets/images/Card-Images/M9-Top-Tabber-Asset-Management.png">
                                                   <img src="/us-en/assets/images/Card-Images/M9-Top-Tabber-Asset-Management.png" alt="top tabber" width="" height="" class="aspect-16/9 md:aspect-[1/1] lg:aspect-4/3 object-cover animate-fade"/>
                                   </picture>
                                   <div class="top-tabber__content-wrapper">
                                     <div class="top-tabber__content">
                                       <div class="heading top-tabber__content-title  ">
                                          Asset Management
                                       </div>
                                       <p class="text-atom top-tabber__content-description  ">
                                           <p>We empower asset managers with flexible technology solutions, insights, and regulatory communications, fostering resilient growth and high performance.</p>
                                       </p>
                                       <a class="cta group cta-link cta-medium cta-light top-tabber__content-cta" tracker-event data-tracker-identifier="link" aria-label="Explore Asset Management" href='/who-we-serve/asset-management'>
                                           <span>
                                              Explore Asset Management
                                           </span>
                                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
    </svg> 
                                       </a>
                                     </div>
                                   </div>
                               </div>
                           </div>
                           <div class="tabs__content-item " data-tab="tab-2">
                               <div class="top-tabber__content-item">
                                   <picture>
                                                   <source media="(min-width:1140px)" srcset="/us-en/assets/images/Card-Images/M9-Top-Tabber-Capital-Markets.png">
                                                   <source media="(min-width:834px)" srcset="/us-en/assets/images/Card-Images/M9-Top-Tabber-Capital-Markets.png">
                                                   <img src="/us-en/assets/images/Card-Images/M9-Top-Tabber-Capital-Markets.png" alt="top tabber" width="" height="" class="aspect-16/9 md:aspect-[1/1] lg:aspect-4/3 object-cover animate-fade"/>
                                   </picture>
                                   <div class="top-tabber__content-wrapper">
                                     <div class="top-tabber__content">
                                       <div class="heading top-tabber__content-title  ">
                                          Capital Markets
                                       </div>
                                       <p class="text-atom top-tabber__content-description  ">
                                           Our global, multi-asset class solutions power the future of global trading and operations and deliver simplification and innovation across the trade lifecycle.
                                       </p>
                                       <a class="cta group cta-link cta-medium cta-light top-tabber__content-cta" tracker-event data-tracker-identifier="link" aria-label="Explore Capital Markets" href='/who-we-serve/capital-markets'>
                                           <span>
                                              Explore Capital Markets
                                           </span>
                                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
    </svg> 
                                       </a>
                                     </div>
                                   </div>
                               </div>
                           </div>
                           <div class="tabs__content-item " data-tab="tab-3">
                               <div class="top-tabber__content-item">
                                   <picture>
                                                   <source media="(min-width:1140px)" srcset="/us-en/assets/images/Card-Images/M9-Top-Tabber-Corporate-Issuer-Solutions.png">
                                                   <source media="(min-width:834px)" srcset="/us-en/assets/images/Card-Images/M9-Top-Tabber-Corporate-Issuer-Solutions.png">
                                                   <img src="/us-en/assets/images/Card-Images/M9-Top-Tabber-Corporate-Issuer-Solutions.png" alt="top tabber" width="" height="" class="aspect-16/9 md:aspect-[1/1] lg:aspect-4/3 object-cover animate-fade"/>
                                   </picture>
                                   <div class="top-tabber__content-wrapper">
                                     <div class="top-tabber__content">
                                       <div class="heading top-tabber__content-title  ">
                                          Issuers
                                       </div>
                                       <p class="text-atom top-tabber__content-description  ">
                                           <p>Effectively meet governance and regulatory obligations and drive investor engagement with timely intelligence and proven solutions.</p>
                                       </p>
                                       <a class="cta group cta-link cta-medium cta-light top-tabber__content-cta" tracker-event data-tracker-identifier="link" aria-label="Explore Issuers" href='/who-we-serve/issuers'>
                                           <span>
                                              Explore Issuers
                                           </span>
                                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
    </svg> 
                                       </a>
                                     </div>
                                   </div>
                               </div>
                           </div>
                           <div class="tabs__content-item " data-tab="tab-4">
                               <div class="top-tabber__content-item">
                                   <picture>
                                                   <source media="(min-width:1140px)" srcset="/us-en/assets/images/Card-Images/M9-Top-Tabber-Wealth-Management.png">
                                                   <source media="(min-width:834px)" srcset="/us-en/assets/images/Card-Images/M9-Top-Tabber-Wealth-Management.png">
                                                   <img src="/us-en/assets/images/Card-Images/M9-Top-Tabber-Wealth-Management.png" alt="top tabber" width="" height="" class="aspect-16/9 md:aspect-[1/1] lg:aspect-4/3 object-cover animate-fade"/>
                                   </picture>
                                   <div class="top-tabber__content-wrapper">
                                     <div class="top-tabber__content">
                                       <div class="heading top-tabber__content-title  ">
                                          Wealth Management
                                       </div>
                                       <p class="text-atom top-tabber__content-description  ">
                                           Our solutions digitize operations, boost advisor productivity, and customize investor experiences – reshaping how wealth is managed.
                                       </p>
                                       <a class="cta group cta-link cta-medium cta-light top-tabber__content-cta" tracker-event data-tracker-identifier="link" aria-label="Explore Wealth Management" href='/who-we-serve/wealth-management'>
                                           <span>
                                              Explore Wealth Management
                                           </span>
                                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
    </svg> 
                                       </a>
                                     </div>
                                   </div>
                               </div>
                           </div>
                           <div class="tabs__content-item " data-tab="tab-5">
                               <div class="top-tabber__content-item">
                                   <picture>
                                                   <source media="(min-width:1140px)" srcset="/us-en/assets/images/Card-Images/M9-Top-Tabber-Consumer-Industries.png">
                                                   <source media="(min-width:834px)" srcset="/us-en/assets/images/Card-Images/M9-Top-Tabber-Consumer-Industries.png">
                                                   <img src="/us-en/assets/images/Card-Images/M9-Top-Tabber-Consumer-Industries.png" alt="top tabber" width="" height="" class="aspect-16/9 md:aspect-[1/1] lg:aspect-4/3 object-cover animate-fade"/>
                                   </picture>
                                   <div class="top-tabber__content-wrapper">
                                     <div class="top-tabber__content">
                                       <div class="heading top-tabber__content-title  ">
                                          Consumer Industries
                                       </div>
                                       <p class="text-atom top-tabber__content-description  ">
                                           Automate and efficiently deliver key customer communications across industries with industry leading expertise and omni-channel capabilities.
                                       </p>
                                       <a class="cta group cta-link cta-medium cta-light top-tabber__content-cta" tracker-event data-tracker-identifier="link" aria-label="Explore Consumer Industries" href='/who-we-serve/consumer-industries'>
                                           <span>
                                              Explore Consumer Industries
                                           </span>
                                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5805 11.0058L12.2904 6.71885C11.8904 6.31915 11.8904 5.68961 12.2894 5.2999C12.6794 4.9002 13.3094 4.9002 13.7094 5.2989L19.7094 11.2945C19.9603 11.5388 20.0498 11.8907 19.9778 12.2144C19.9264 12.453 19.789 12.6607 19.6 12.8032L13.6995 18.6992C13.5095 18.8791 13.2495 18.989 12.9895 18.989L12.9995 19C12.7295 19 12.4695 18.8901 12.2895 18.7102C11.8895 18.3205 11.8895 17.681 12.2795 17.2913V17.2813L16.5596 13.0043H5C4.44 13.0043 4 12.5547 4 12.0051C4 11.4455 4.44 11.0058 5 11.0058H16.5805Z" fill="currentColor"></path>
    </svg> 
                                       </a>
                                     </div>
                                   </div>
                               </div>
                           </div>

                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>